html,
body {
    margin: 0;
    overflow: hidden;
    background-color: #294c46;
}
/* LOADING SCREEN */
/* (**) */
/* #loading-screen {
    top: 0;
    left: 0;
    background-color: #294c46;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loading-screen img {
    height: 900px;
    width: 900px;
}

.loading {
    position: absolute;
    bottom: 0;
    left: 45%;
    color: #58817a;
    font-family: monospace;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; 
}

#main-content {
    display: none; 
}  */
/* END OF LOADING SCREEN */

/* MAIN SCREEN */
/* top bread */
.oval {
    position: absolute;
    height: 230px;
    width: 300px;
    border-radius: 50%;
    left: 30%;
    top: 10%;
    background-color: #f6c98e;
    z-index: 20;
  }

.bottom-oval {
    position: absolute;
    height: 270px;
    width: 320px;
    border-radius: 50%;
    left: 30%;
    top: 10%;
    background-color: #b85f2d;
    z-index: 19;
}

.parallelogram {
    position: absolute;
    height: 205px;
    width: 310px;
    background-color: #f6c98e;
    left: 43%;
    top: 6%;
    transform: skew(23deg);
    rotate: 348deg;
    border-radius: 10px;
    z-index: 20;
}

.bottom-parallelogram {
    position: absolute;
    height: 205px;
    width: 310px;
    background-color: #b85f2d;
    left: 43%;
    top: 11%;
    transform: skew(23deg);
    rotate: 348deg;
    border-radius: 10px;
    z-index: 19;
}

.bottom-parallelogram-details {
    position: absolute;
    left: 66.5%;
    top: 24%;
    height: 43px;
    width: 40px;
    background-color: #b85f2d;
    z-index: 19;
}
/* end of top bread */
/* meat */
.main-meat {
    position: absolute;
    height: 160px;
    width: 465px;
    background-color: #51280f;
    left: 32.5%;
    top: 23%;
    transform: skew(23deg);
    rotate: 348deg;
    border-radius: 15px;
    z-index: 18;
}

.main-meat-details-right {
    position: absolute;
    left: 66%;
    top: 29%;
    height: 50px;
    width: 40px;
    background-color: #51280f;    
    border-radius: 15px;
    z-index: 18;
}

.main-meat-details-left {
    position: absolute;
    right: 67.5%;
    top: 25.3%;
    height: 50px;
    width: 40px;
    background-color: #51280f;    
    border-radius: 15px;
    z-index: 18;
}
/* end of meat */
/* tomatoes */
.tomato-1{
    position: absolute;
    right: 61%;
    top: 34%;
    width: 130px;
    height: 100px;
    background: #932826;
    border-radius: 50%;
    rotate: 40deg;
    z-index: 17;
}

.tomato-2{
    position: absolute;
    right: 52.4%;
    top: 30%;
    width: 160px;
    height: 200px;
    background: #932826;
    border-radius: 50%;
    rotate: 0deg;
    z-index: 17;
}

.tomato-3{ 
    position: absolute;
    right: 42%;
    top: 36.5%;
    width: 160px;
    height: 110px;
    background: #932826;
    border-radius: 50%;
    rotate: -10deg;
    z-index: 17;
}

.tomato-4{
    position: absolute;
    right: 32%;
    top: 33%;
    width: 150px;
    height: 100px;
    background: #932826;
    border-radius: 50%;
    rotate: -10deg;
    z-index: 17;
}

.tomato-filler{
    position: absolute;
    right: 32%;
    top: 33%;
    width: 330px;
    height: 100px;
    background: #932826;
    border-radius: 50%;
    rotate: -10deg;
    z-index: 17;
}

.tomato-filler-2{
    position: absolute;
    right: 54.6%;
    top: 28%;
    width: 220px;
    height: 100px;
    background: #932826;
    border-radius: 20%;
    rotate: 0deg;
    z-index: 17;
}
/* end of tomatoes */
/* cabbage */

.cabbage-1{
    position: absolute;
    right: 65%;
    top: 32%;
    width: 80px;
    height: 100px;
    background: #4c5a2a;
    border-radius: 50%;
    rotate: 30deg;
    z-index: 16;
}

.cabbage-2{
    position: absolute;
    right: 63%;
    top: 42%;
    width: 100px;
    height: 70px;
    background: #4c5a2a;
    border-radius: 50%;
    rotate: 20deg;
    z-index: 16;
}

.cabbage-3{
    position: absolute;
    right: 60%;
    top: 45%;
    width: 80px;
    height:90px;
    background: #4c5a2a;
    border-radius: 50%;
    rotate: 90deg;
    z-index: 16;
}

.cabbage-4{
    position: absolute;
    right: 54%;
    top: 44%;
    width: 70px;
    height: 100px;
    background: #4c5a2a;
    border-radius: 50%;
    rotate: 70deg;
    z-index: 16;
}

.cabbage-5{
    position: absolute;
    right: 46%;
    top: 40%;
    width: 80px;
    height: 140px;
    background: #4c5a2a;
    border-radius: 50%;
    rotate: 70deg;
    z-index: 16;
}

.cabbage-6{
    position: absolute;
    right: 36%;
    top: 33%;
    width: 100px;
    height: 190px;
    background: #4c5a2a;
    border-radius: 50%;
    rotate: 90deg;
    z-index: 16;
}

.cabbage-7{
    position: absolute;
    right: 31%;
    top: 37%;
    width: 80px;
    height: 50px;
    background: #4c5a2a;
    border-radius: 50%;
    rotate: 20deg;
    z-index: 16;
}

.cabbage-7-filler-1{
    position: absolute;
    right: 31%;
    top: 37%;
    width: 80px;
    height: 50px;
    background: #4c5a2a;
    border-radius: 50%;
    rotate: 20deg;
    z-index: 16;
}

.cabbage-7-filler-1{
    position: absolute;
    right: 68.7%;
    top: 35%;
    width: 30px;
    height: 30px;
    background: #4c5a2a;
    border-radius: 20%;
    rotate: 0deg;
    z-index: 16;
}

.cabbage-7-filler-2{
    position: absolute;
    right: 31%;
    top: 37%;
    width: 80px;
    height: 50px;
    background: #4c5a2a;
    border-radius: 50%;
    rotate: 20deg;
    z-index: 16;
}

.cabbage-7-filler-3 {
    position: absolute;
    right: 35%;
    top: 38%;
    width: 450px;
    height: 80px;
    background: #4c5a2a;
    border-radius: 20%;
    rotate: -10deg;
    z-index: 16;
}

/* end of cabbage */
/* bottom bread */

.oval-bottom-bread {
    position: absolute;
    height: 230px;
    width: 300px;
    border-radius: 50%;
    left: 30%;
    top: 30%;
    background-color: #f6c98e;
    z-index: 15;
  }

.bottom-oval-bottom-bread {
    position: absolute;
    height: 270px;
    width: 320px;
    border-radius: 50%;
    left: 30%;
    top: 30%;
    background-color: #b85f2d;
    z-index: 14;
}

.parallelogram-bottom-bread {
    position: absolute;
    height: 205px;
    width: 310px;
    background-color: #f6c98e;
    left: 43%;
    top: 26%;
    transform: skew(23deg);
    rotate: 348deg;
    border-radius: 10px;
    z-index: 15;
}

.bottom-parallelogram-bottom-bread {
    position: absolute;
    height: 205px;
    width: 310px;
    background-color: #b85f2d;
    left: 43%;
    top: 31%;
    transform: skew(23deg);
    rotate: 348deg;
    border-radius: 10px;
    z-index: 14;
}

.bottom-parallelogram-details-bottom-bread {
    position: absolute;
    left: 66.5%;
    top: 44%;
    height: 43px;
    width: 40px;
    background-color: #b85f2d;
    z-index: 14;
}

/* end of bottom bread */
/* END OF MAIN SCREEN */